body{
    margin: 0px;
}

header{
    background-color: rgb(158, 161, 212);
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.title{
    color: white;
    width: 30px;
}

.name{
    color: white;
}

li {
    list-style-type: none;
    display: inline;
}

